<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>dk.sniarn.alfred-mediainfo-workflow</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>19B62BBD-D139-4652-AFB2-45077C90F06D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B1B8DC40-94B7-4C87-AE73-679AC099D72F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>477AEB3B-6BFA-480B-B25D-FD280AFB6C5F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>477AEB3B-6BFA-480B-B25D-FD280AFB6C5F</key>
		<array/>
		<key>70573B36-F520-431D-8F1C-99CA9BAB2B02</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>19B62BBD-D139-4652-AFB2-45077C90F06D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>85DDC621-3C9E-4C99-A59A-CDE72B0EEBB9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>70573B36-F520-431D-8F1C-99CA9BAB2B02</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B1B8DC40-94B7-4C87-AE73-679AC099D72F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1AC01318-34D9-4527-9559-7918900ABE95</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Martin Lund Kristiansen</string>
	<key>description</key>
	<string>Process video files with MediaInfo</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>MediaInfo</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<true/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<false/>
				<key>filename</key>
				<string>/tmp/mediainfo.txt</string>
				<key>filetext</key>
				<string>{query}</string>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>B1B8DC40-94B7-4C87-AE73-679AC099D72F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array>
					<string>+public.movie</string>
				</array>
				<key>name</key>
				<string>Send file to MediaInfo</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>85DDC621-3C9E-4C99-A59A-CDE72B0EEBB9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/mediainfo "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>19B62BBD-D139-4652-AFB2-45077C90F06D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>1AC01318-34D9-4527-9559-7918900ABE95</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>File: '{query}'</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>70573B36-F520-431D-8F1C-99CA9BAB2B02</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>477AEB3B-6BFA-480B-B25D-FD280AFB6C5F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>19B62BBD-D139-4652-AFB2-45077C90F06D</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>1AC01318-34D9-4527-9559-7918900ABE95</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>477AEB3B-6BFA-480B-B25D-FD280AFB6C5F</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>70573B36-F520-431D-8F1C-99CA9BAB2B02</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>85DDC621-3C9E-4C99-A59A-CDE72B0EEBB9</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>B1B8DC40-94B7-4C87-AE73-679AC099D72F</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://sniarn.dk</string>
</dict>
</plist>
